/*esto siempre deberia de ir para todo desarrollo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*se coloca 62.5, para poder manejar la medida rem con mayor facilidad, (como si  fueran pixeles)*/
html{
    font-size: 62.5%;
}
/* 1.6rem = 16px */
body{
    font-size: 1.6rem;
}

/*tamaño del texto en medidas rem , siempre*/
h1{
    font-size: 3rem;
}

p{
    font-size: 1.8rem;
}