/*esto siempre deberia de ir para todo desarrollo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*se coloca 62.5, para poder manejar la medida rem con mayor facilidad, (como si  fueran pixeles)*/
html{
    font-size: 62.5%;
}
/* 1.6rem = 16px */
body{
    font-size: 1.6rem;
}

main{
    background-image: url("./fondo.jpg"); 
    /*para dejar imagen fija en el fondo de la pagina*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /************************************************/
    /*tamaño completo de la pantalla*/
    width: 100vw;
    height: 100vh;
    /*******************************/
}

section{
    /*background-color: red;*/
    width: 80%;
    min-width: 50rem;
    height: 100%;
    /*centrar en vetical*/
    margin: 0 auto;
}

.card{
    background-color: lightsteelblue;
    width: 60%;
    min-width: 40rem;
    min-height: 35rem;
    /*margin: 0 auto;*/ 
    position: absolute;
    left: 20%;
    top: 30%;
    border-radius: 12px;
}

/*.card div{
    display: inline-block;
}*/

/*la posicion absoluta de este titulo estara relacionada a la de su contenedor osea que se esta indicando
40% apartir del inicio del la etiqueta con la clase card (etiqueta contenedora)*/
.card__title{
    background-color: bisque;
    border-radius: 20px;
    position: absolute;
    left: 40%;
    min-width: 20%;
    height: 4.0rem;
    top: -6%;
    
}

.card__title h3{
    padding-top: 5%;
    text-align: center;
}

.card__contain{
    padding-left: 3.0rem;
    position: absolute;
    width: 60%;
    top: 15%;
    font-size: 2.0rem;
    text-align: justify;
}

.card__image{
    position: absolute;
    width: 20%;
    right: 10%;
    top: 15%;
}

.card__image img{
    width: 100%;
    height: auto;
}

